:root {
	--bg-color: #242424;
	--text-color: #F6FDFF;
	--bg-color-price-plan: #444444;
}

body {
	background-color: var(--bg-color);
}

.header-title {
	color: var(--text-color);
}

.header-menu-list-link {
	color: var(--text-color);
}

.main-title {
	color: var(--text-color);
}

.price-plan {
	background: var(--bg-color-price-plan);
}

.price-title {
	color: var(--text-color);
}

.price-value {
	color: var(--text-color);
}

.important {
	border: 1px solid #161A34;
	background: #161A34;
	color: #F6FDFF;
}

.important span {
	color: #F6FDFF;
}